<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.belajardatabase">

    <!-- Izin akses galeri -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <!-- Izin internet untuk API reqres.in -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.BelajarDatabase"
        android:supportsRtl="true">

        <!-- LoginActivity sebagai Launcher (halaman pertama) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- RegisterActivity -->
        <activity
            android:name=".RegisterActivity"
            android:label="Daftar Akun" />

        <!-- MainActivity (setelah login) -->
        <activity
            android:name=".MainActivity"
            android:label="Laptop Manager" />

        <!-- FormLaptopActivity -->
        <activity
            android:name=".FormLaptopActivity"
            android:label="Form Laptop"
            android:parentActivityName=".MainActivity" />

    </application>

</manifest>